/* UBUNTU + Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* CONSOLAS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* Чтобы добавить новый шрифт импортируете его с сайтa Google fonts и вставляете сюда */

.plus {
  font-family: 'Plus Jakarta Sans', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ubuntu {
  font-family: 'Ubuntu', serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-300 {
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-400 {
  font-family: 'Ubuntu', serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-500 {
  font-family: 'Ubuntu', serif;
  font-weight: 500;
  font-style: normal;
}

.consolas {
  font-family: 'Source Code Pro', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
